In [1]:
print("Inteligência Artificial")

Inteligência Artificial

In [ ]:
pip install pandas

In [3]:
import pandas as pd #importa biblioteca pandas

In [6]:
#cria o dicionário 
Dicionario ={ 
    "A":[1,2,3,4],
    "B":[5,6,7,8],
    "C":[9,10,11,12]}
Labels=["1ª linha","2ª linha","3ª linha","4ª linha"]

In [7]:
dados = pd.DataFrame(Dicionario,index= Labels) #cria o dataframe

In [8]:
dados.head() #exibe as 4 primeiras linhas da base de dados

          A  B   C
1ª linha  1  5   9
2ª linha  2  6  10
3ª linha  3  7  11
4ª linha  4  8  12

In [9]:
dados.head(2)

          A  B   C
1ª linha  1  5   9
2ª linha  2  6  10

In [10]:
dados.tail() # exibe as 4 ultimas linhas do dataframe

          A  B   C
1ª linha  1  5   9
2ª linha  2  6  10
3ª linha  3  7  11
4ª linha  4  8  12

In [11]:
dados.tail(3)

          A  B   C
2ª linha  2  6  10
3ª linha  3  7  11
4ª linha  4  8  12

In [ ]:
print(dados.describe()) #informações estatísticas dos dados
print(dados.info())

In [13]:
dados.info() #descreve informações sobre os dados

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 1ª linha to 4ª linha
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [15]:
dados['D']= dados['B']*dados['C'] #multiplicação de colunas do DF

In [16]:
dados.head()

          A  B   C   D
1ª linha  1  5   9  45
2ª linha  2  6  10  60
3ª linha  3  7  11  77
4ª linha  4  8  12  96

In [19]:
dados.drop('B',axis=1,inplace=True) # exclui a coluna B
# o inplace permite a exclusão de uma coluna na base de dados
# original

In [20]:
dados.head()

          A   C   D
1ª linha  1   9  45
2ª linha  2  10  60
3ª linha  3  11  77
4ª linha  4  12  96

In [21]:
dados.loc["3ª linha"] # localiza uma linha

A     3
C    11
D    77
Name: 3ª linha, dtype: int64

In [ ]:
dados.loc[["3ª linha","2ª linha"],["A","C"]] #busca mais de uma linha
# e coluna do dataframe

In [23]:
dados.iloc[0:2] # iloc é para exibir linhas a partir do indice posição

          A   C   D
1ª linha  1   9  45
2ª linha  2  10  60

In [26]:
dados.iloc[0:2,0:2]

          A   C
1ª linha  1   9
2ª linha  2  10

In [27]:
dados['A']>0 # Filtro

1ª linha    True
2ª linha    True
3ª linha    True
4ª linha    True
Name: A, dtype: bool

In [32]:
Filtro = dados['A'] >0 # armazena o resultado na variavel filtro

In [31]:
Filtro

1ª linha    True
2ª linha    True
3ª linha    True
4ª linha    True
Name: A, dtype: bool

In [34]:
dados['Filtro']= Filtro # armazena o filtro nessa base de dados

In [35]:
dados.head()

          A   C   D  Filtro
1ª linha  1   9  45    True
2ª linha  2  10  60    True
3ª linha  3  11  77    True
4ª linha  4  12  96    True

In [39]:
dados[(dados['A']>=2)& (dados['C'] >=2)] # filtro na coluna a e c

          A   C   D  Filtro
2ª linha  2  10  60    True
3ª linha  3  11  77    True
4ª linha  4  12  96    True

In [40]:
dados.reset_index()

      index  A   C   D  Filtro
0  1ª linha  1   9  45    True
1  2ª linha  2  10  60    True
2  3ª linha  3  11  77    True
3  4ª linha  4  12  96    True

In [42]:
dados.set_index('C') # altera o index do dataframe

    A   D  Filtro
C
9   1  45    True
10  2  60    True
11  3  77    True
12  4  96    True

In [45]:
Dicionario_1={
    'A':[10,20,30,40],
    'B':[50,60,70,80],
    'C':[90,100,110,120],
    'Chaves':['AA','BB','CC','DD']
    }
Dicionario_2={
    'A':[5,10,15,20],
    'B':[35,70,105,140],
    'C':[100,200,300,400],
    'Chaves':['AA','BB','CC','DD']
    }
Dicionario_3={
    'A':[-10,-20,-30,-40],
    'B':[25,50,75,100],
    'C':[90,100,110,120],
    'Chaves':['AA','BB','CC','DD']
    }
Labels_1=['1ª linha','2ª linha','3ª linha','4ª linha']
Labels_2=['5ª linha','6ª linha','7ª linha','8ª liha']
Labels_3=['9ª linha','10ª linha','11ª linha','12ª linha']

In [46]:
df1 = pd.DataFrame(Dicionario_1,index=Labels_1)
df2 = pd.DataFrame(Dicionario_2,index=Labels_2)
df3 = pd.DataFrame(Dicionario_3,index=Labels_3)

In [47]:
dados_df = pd.concat([df1,df2,df3]) # junta os dataframes desde 
# que todos tenham a mesma estrutura

In [51]:
dados_df.head(10) # exibe o dataframe unificado

            A    B    C Chaves
1ª linha   10   50   90     AA
2ª linha   20   60  100     BB
3ª linha   30   70  110     CC
4ª linha   40   80  120     DD
5ª linha    5   35  100     AA
6ª linha   10   70  200     BB
7ª linha   15  105  300     CC
8ª liha    20  140  400     DD
9ª linha  -10   25   90     AA
10ª linha -20   50  100     BB

In [53]:
df_n = pd.merge(df1,df2,how='inner',on='Chaves') # une o dataframe a 
# partir da semelhança das chaves nas colunas

In [54]:
df_n.head()

   A_x  B_x  C_x Chaves  A_y  B_y  C_y
0   10   50   90     AA    5   35  100
1   20   60  100     BB   10   70  200
2   30   70  110     CC   15  105  300
3   40   80  120     DD   20  140  400

In [55]:
df_l = pd.merge(df1,df2,how='left',on='Chaves') # une o dataframe a 
# partir da semelhança das chaves nas colunas

In [56]:
df_l.head()

   A_x  B_x  C_x Chaves  A_y  B_y  C_y
0   10   50   90     AA    5   35  100
1   20   60  100     BB   10   70  200
2   30   70  110     CC   15  105  300
3   40   80  120     DD   20  140  400

In [71]:
Dicionario_1={
    'A':[10,20,30,40],
    'B':[50,60,70,80],
    'C':[90,100,110,120],
    
    }
Dicionario_3={
    'D':[30,20,50,40],
    'E':[1,2,3,4],
    'F':[7,8,9,10],
    
    }
Labels_n=['1ª linha','2ª linha','3ª linha','4ª linha']

In [72]:
Dataframe1 = pd.DataFrame(Dicionario_1,index=Labels_1)
Dataframe3 = pd.DataFrame(Dicionario_3,index=Labels_1)

In [73]:
Dataframe1.join(Dataframe3) # unifica os dataframes com base no label

           A   B    C   D  E   F
1ª linha  10  50   90  30  1   7
2ª linha  20  60  100  20  2   8
3ª linha  30  70  110  50  3   9
4ª linha  40  80  120  40  4  10